<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="eventApp">
    <div ng-controller="eventCont">
      <button> New Event</button>
      <form ng-hide="" ng-submit="newEvent()" name="newEvent">
        <input name="name" type="text" ng-model="newEvent.name">
        <select name="type">
          <option>Concert</option>
          <option>Wedding</option>
          <option></option>
          <option></option>
          <option></option>
        </select>
        <select name="company">
          <option>Rando</option>
          <option>EventPlanner</option>
          <option>Company 3</option>
          <option>Company 4</option>
          <option>Company 5</option>
        </select>
        <input name="date" type="date" ng-model="newEvent.date">
        <input type="submit">
      </form>
      <h3> Search: </h3><input type='text' ng-model="searchText">
      <div ng-repeat="event in events | filter:searchText">
        <h3>Name: {{event.name}}</h3>
        <h3>Type: {{event.type}}</h3>
        <h3>Company: {{event.company}}</h3>
        <h3>Date: {{event.date}}</h3>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
