<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <title>MVPG - Review Form</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body ng-app="formApp">
    <div >
    <div ng-controller="formCont">
      <h2>Please fill out the contact details and then click 'Take Survey'. </h2>
      <form ng-hide="" ng-submit="formResponse()" name="addressForm">
        <label for="rating">Rate your overall satisfaction with the pre event communications and responsiveness</label>
        <select name="rating" ng-model="contact.rating">
          <option value="1">
            1
          </option>
          <option value="2">
          2
          </option>
          <option value="3">
          3
          </option>
          <option value="4">
          4
          </option>
          <option value="5">
          5
          </option>
        </select>
        <label for="arrive_early">Did the event crew arrive on time or early?</label>
        <input type="radio" name="arrive_early" id="arrive_early" value="yes"> Yes
        <input type="radio" name="arrive_early" id="arrive_early" value="no">No
        <label for="set_up">Was equipment setup and functioning in the expected time frame?</label>
        <input type="radio" name="set_up" id="set_up" value="yes"> Yes
        <input type="radio" name="set_up" id="set_up" value="no">No
        <label for="confidence">How confident were you in the crew's ability to accomodate the needs of the event</label>
        <select name="confidence" ng-model="contact.confidence">
          <option value="1">
            1
          </option>
          <option value="2">
          2
          </option>
          <option value="3">
          3
          </option>
          <option value="4">
          4
          </option>
          <option value="5">
          5
          </option>
        </select>
        <label for="satisfaction">How satisfied were you with the overall aesthetic of the setup?</label>
        <select name="satisfaction" ng-model="contact.satisfaction">
          <option value="1">
            1
          </option>
          <option value="2">
          2
          </option>
          <option value="3">
          3
          </option>
          <option value="4">
          4
          </option>
          <option value="5">
          5
          </option>
        </select>
        <label for="value">Overall, how would you rae the value of the services you received?</label>
        <select name="value" ng-model="contact.value">
          <option value="1">
            1
          </option>
          <option value="2">
          2
          </option>
          <option value="3">
          3
          </option>
          <option value="4">
          4
          </option>
          <option value="5">
          5
          </option>
        </select>

        <input type="submit">
      </form>
      <h3> Search: </h3><input type='text' ng-model="searchText">
      <div ng-repeat="person in contacts | filter:searchText">
        <h3>Name: {{person.name}}</h3>
        <h3>Email: {{person.email}}</h3>
        <h3>Phone: {{person.phone}}</h3>
      </div>
    </div>
  </div>
    <script src="form.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
