<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <title>MVPG - Review Form</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body ng-app="formApp">
    <div >
    <div ng-controller="formCont">
      <h2>Please fill out the contact details and then click 'Take Survey'. </h2>
      <form ng-submit="clientData()" name="addressForm">
        <input name="name" type="text" ng-model="contact.name">
        <input name="email" type="text" ng-model="contact.email">
        <input name="phone" type="text" ng-model="contact.phone">
        <input name="phone" type="text" ng-model="contact.phone">

        <input type="submit" value="Take Survey">
      </form>
      <form ng-hide="" ng-submit="formResponse()" name="addressForm">
        <input name="name" type="text" ng-model="contact.name">
        <input name="email" type="text" ng-model="contact.email">
        <input name="phone" type="text" ng-model="contact.phone">
        <input type="submit">
      </form>
      <h3> Search: </h3><input type='text' ng-model="searchText">
      <div ng-repeat="person in contacts | filter:searchText">
        <h3>Name: {{person.name}}</h3>
        <h3>Email: {{person.email}}</h3>
        <h3>Phone: {{person.phone}}</h3>
      </div>
    </div>
  </div>
    <script src="form.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
